---
const { title, url, description, pubDate, author, image } = Astro.props;
---

<a href={url} title={title}>
  <div class="sm:flex items-center">
    <div class="mb-4 flex-shrink-0 sm:mb-0 sm:mr-4">
      <img
        src={image}
        alt={title}
        class="h-16 w-16 lg:h-28 lg:w-28 object-cover"
      />
    </div>
    <div>
      <h4 class="text-lg lg:text-xl text-white uppercase font-display">
        {title}
      </h4>
      <p class="mt-1 text-zinc-500">
        {description}
      </p>
      <div class="inline-flex items-center text-xs text-zinc-500">
        <span>{author}</span>
        <time class="ml-3" datetime={pubDate}>{pubDate}</time>
      </div>
    </div>
  </div>
</a>
